.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    width: 100%;
    height: 80px;
}

.nav-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.btn-out {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 9px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: rgb(221, 218, 23);
  text-decoration: none;
  font-size: large;
}