.main-text {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.favicon-img {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    mix-blend-mode: multiply color; /* pozbywa się tła, color - rozjaśnia ikonke */
    filter: drop-shadow(0 10px 25px rgba(255, 255, 255, 0.414)); /* nadaje obikektom typu circular shadow - to jest zamiast box-shadow. */
}

h1 {
    font-size: 3.5rem; 
}

p {
    font-weight: 400;
}

button {
    padding: 13px 25px 13px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(135deg, #1fa2fa 0%, #ff62ea 100%);
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {      /* efekt najechania */
    transform: translateY(-2px);    /* delikatne uniesienie przy najechaniu */
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4); /* delikatny cień przy najechaniu */
}

button:active {     /* efekt kliknięcia */
    transform: translateY(0);   /* powrót do pierwotnej pozycji przy kliknięciu */
}