.container {
    min-height: 80vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.header {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.input {
    display: block;
    border: 5px solid #331e91;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.75rem;
    box-sizing: border-box;
}

.btn {
    background-color: rgb(0, 141, 235);
    color: white;
    border: 5px solid #331e91;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}