.header {
    text-align: center;
}

.soundbar {
    width: 120vh;
    height: 50vh;
    margin: 40px auto;
    background-color: rgba(61, 61, 61, 0.363);
    border: 1px double whitesmoke; ;
    border-radius: 8px;
}

.bars {
    height: 200px;
    left: 50%;
    margin: -30px 0 0 -20px; /* centruje poziomo i pionowo */
    position: absolute; /* Pozwala na dokładne pozycjonowanie wewnątrz soundbar */
    top: 50%; 
    width: 50px;
}

.bar {
    background: rgb(22, 236, 22);
    bottom: 10px; /* Ustawienie dolnej krawędzi paska */
    height: 30px;
    position: absolute; /* Pozwala na dokładne pozycjonowanie pasków */
    width: 50px;
    animation: sound 0ms -800ms linear infinite alternate; 
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 300px;
    }
    100% {
        opacity: 1;
        height: 28px
    }
}

.bar:nth-child(1)  { left: -120px; animation-duration: 497ms; }
.bar:nth-child(2)  { left: -60px; animation-duration: 487ms; }
.bar:nth-child(3)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(4)  { left: 60px; animation-duration: 465ms; }
.bar:nth-child(5)  { left: 120px; animation-duration: 450ms; }
.bar:nth-child(6)  { left: 180px; animation-duration: 442ms; }
.bar:nth-child(7)  { left: 240px; animation-duration: 430ms; }
.bar:nth-child(8)  { left: 300px; animation-duration: 420ms; }
.bar:nth-child(9)  { left: 360px; animation-duration: 441ms; }
.bar:nth-child(10)  { left: 420px; animation-duration: 419ms; }