body {
  background-color: rgb(206, 206, 206);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.app {
  min-height: 100vh;
  width: 100%;
}

.main-content {
  padding-top: 90px;
  min-height: calc(100vh - 80px);
}